<div class="wrapper-start">
    <div class="row">
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 center">
            <button type="button" class="btn btn-outline-primary btn-md start-button">Iniciar questionário</button>
        </div>
    </div>
</div>