<div class="wrapper-start">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-outline-primary btn-md start-button"
            (click)="goToPatientRecord()">Exportar resultados</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-outline-primary btn-md start-button"
            (click)="goToPatientRecord()">Iniciar questionário</button>
        </div>
    </div>
    <div class="row">
        Pacientes
        <di>
        
        </di>
    </div>
</div>