<div class="container wrapper-quiz">
    <div class="card card-style">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 answer-dimension">
                    <i>{{questions[questionIdToDisplay].dimension}}</i>
                </div>
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-2">
                    <h3>{{questionIdToDisplay + 1}}/{{questions.length}}</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>
                        {{questions[questionIdToDisplay].question}}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 center">
                    <button type="button" class="btn btn-light answer-option"
                        (click)="setAnswer(1, questionIdToDisplay)"><i class="far fa-tired"></i></button>
                    <button type="button" class="btn btn-light answer-option"
                        (click)="setAnswer(2, questionIdToDisplay)"><i class="far fa-frown"></i></button>
                    <button type="button" class="btn btn-light answer-option"
                        (click)="setAnswer(3, questionIdToDisplay)"><i class="far fa-meh"></i></button>
                    <button type="button" class="btn btn-light answer-option"
                        (click)="setAnswer(4, questionIdToDisplay)"><i class="far fa-smile"></i></button>
                    <button type="button" class="btn btn-light answer-option"
                        (click)="setAnswer(5, questionIdToDisplay)"><i class="far fa-laugh"></i></button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 center">
                    <button type="button" class="btn btn-light button-change-question" (click)="backQuestion()">Anterior</button>
                </div>
                <div class="col-md-6 center">
                    <button type="button" class="btn btn-light button-change-question" (click)="nextQuestion()">Próximo</button>
                </div>
            </div>
        </div>
    </div>
</div>